/* * * * * * * * * * * * * * * * * * * * * * *
 GENERAL
 * * * * * * * * * * * * * * * * * * * * * * */

 /*****
 * Colour Palette: (Black, White and 1-Colour) 
 *  Background  : #050505 (Black) 
 *  Theme       : #f31616 (Red) / #f53d3d (red highlight) 
 */


/***** 
 * Bootstrap Breakpoints 
 * xs - considered the default 
 * Small Devices - 576px 
 * Medium Devices - 768px 
 * Large Devices - 992px 
 * Extra Large Devices - 1200px
 */ 

body { 
    background-color: #050505; 
    color: #f31616; 
}   

a:focus { 
    outline: 2px solid #f31616; 
}

button:focus { 
    outline: 4px solid #050505; 
}

 /* * * * * * * * * * * * * * * * * * * * * * *
 HEADER
 * * * * * * * * * * * * * * * * * * * * * * */
header { 
    height: 80px;
    font-family: "Share Tech Mono", monospace; 
}

header .container { 
    display: flex; 
    align-items: center;

    font-size: 1.4em; 
    height: 100%;
}

.company { 
    display: flex; 
    align-items: center; 
    flex: 3; 
    
    height: 100%;
}

.company i {
    margin-right: 10px; 
}

header a { 
    color: #f31616;
    display: flex; 
    align-items: center;
    height: 100%;
}

/* TODO: We need to figure out a good way to indicate hovering in the header*/
header a:hover { 
    color: #f53d3d; 
    text-decoration: none; 
    position: relative; 
}

nav { 
    height: 100%;
}

header ul { 
    display: flex; 
    align-items: center; 

    height: 100%;

    list-style: none; 
    margin: 0; 
    padding: 0; 
}

header li { 
    display: flex;
    align-items: center; 
    flex: 1; 
    width: 150px; 

    height: 100%;    
}

header li a { 
    width: 100%; 
    justify-content: center; 
}

header li a:hover { 
    color: #050505; 
    background-color: #f31616; 
}

.mobile-nav { 
    color: #f31616; 
    background-color: #050505; 
    border: #f31616; 
    display: none; 
}

.animated-menu { 
    display: flex; 
    height: 100vh; 
    position: absolute;
}

@media (max-width: 768px) { 
    .mobile-nav { 
        display: block; 
    }

    .desktop-nav { 
        display: none; 
    }
}

@media (max-width: 992px) { 
    header li { 
        width: 100px; 
    }
}

 /* * * * * * * * * * * * * * * * * * * * * * *
 FOOTER
 * * * * * * * * * * * * * * * * * * * * * * */

footer { 
    height: 150px;
    padding-top: 20px; 
}

footer h2 { 
    text-align: center; 
    font-family: 'Share Tech Mono', cursive; 
}

footer hr { 
    border-color: #f31616; 
    border-width: 3px; 
}

footer .container {
    height: 100%;
}

footer ul { 
    padding: 0; 
    display: flex; 
    justify-content: space-between; 
}

footer li { 
    list-style: none; 
}

footer a { 
    color: #f31616; 
}

footer a:hover { 
    color: #f53d3d; 
}