/* * * * * * * * * * * * * * * * * * * * * * 
Hero Section Styles
* * * * * * * * * * * * * * * * * * * * * */

.hero { 
    height: 80vh; 
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
        url('../assets/alex-knight-326705-unsplash.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.hero h1, .hero h2, .hero p { 
    background: #050505dc; 
    padding: 0 10px;

    text-align: right; 
}

.hero h1, .hero h2 { 
    font-family: 'VT323', monospace; 
}

.hero h1 { 
    font-size: 60px; 
}

.hero h2 { 
    font-size: 45px;
}

.hero p { 
    font-family: 'Share Tech Mono', monospace;
}

.hero .container { 
    height: 100%;
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: center; 
    align-items: center; 
    position: relative; 

    width: 75%; 
}

.hero img { 
    width: 275px; 
    height: 400px; 
    border: 2px dashed #f31616;
    position: relative;
    transform: rotate(-5deg) translate(20px, -20px); 

    margin-left: 120px;
}

/* * * * * * * * * * * * * * * * * * * * * * 
Main Section Styles
* * * * * * * * * * * * * * * * * * * * * */

main { 

    height: 80vh;
    padding: 40px 0; 
}

main h2 { 
    text-align: center; 
    margin-bottom: 40px;
    font-family: 'VT323', monospace;
    font-size: 45px; 
}

.book-card { 
    display: flex; 
    justify-content: flex-end; 
    align-items: baseline; 
    height: 400px;
    position: relative;
}

.book-cover { 
    height: 300px;
    width: 200px
    position: absolute; 
}

.book-cover img {
    height: 300px;; 
}

.book-description { 
    background-color: darkviolet; 
    width: 75%; 
    height: 225px;
}