/* * * * * * * * * * * * * * * * * * * * * * *
 GENERAL
 * * * * * * * * * * * * * * * * * * * * * * */

 /*****
 * Colour Palette: (Black, White and 1-Colour) 
 *  Background  : #050505 (Black) 
 *  Theme       : #f31616 (Red)
 */

body { 
    background-color: #050505; 
    color: #f31616; 
}

 /* * * * * * * * * * * * * * * * * * * * * * *
 HEADER
 * * * * * * * * * * * * * * * * * * * * * * */
header { 
    height: 80px;
    font-family: "Share Tech Mono", monospace; 
}

header .container { 
    display: flex; 
    align-items: center;

    font-size: 1.4em; 
    height: 100%;
}

.company { 
    display: flex; 
    align-items: center; 
    flex: 3; 
    
    height: 100%;
}

.company i {
    margin-right: 10px; 
}

header a { 
    color: #f31616;
    display: flex; 
    align-items: center;
    height: 100%;
}

/* TODO: We need to figure out a good way to indicate hovering in the header*/
header a:hover { 
    color: #f31616; 
    text-decoration: none; 
}

nav { 
    height: 100%;
}

header ul { 
    display: flex; 
    align-items: center; 

    height: 100%;

    list-style: none; 
    margin: 0; 
    padding: 0; 
}

header li { 
    display: flex;
    align-items: center; 
    flex: 1; 
    width: 150px; 

    height: 100%;    
}

header li a { 
    width: 100%; 
    justify-content: center; 
}

header li a:hover { 
    color: #050505; 
    background-color: #f31616; 
}

 /* * * * * * * * * * * * * * * * * * * * * * *
 FOOTER
 * * * * * * * * * * * * * * * * * * * * * * */

footer { 
    height: 150px;
}

footer h2 { 
    text-align: center; 
    font-family: 'Share Tech Mono', cursive; 
}

footer hr { 
    border-color: #f31616; 
    border-width: 3px; 
}

footer .container {
    height: 100%;
}

footer ul { 
    padding: 0; 
    display: flex; 
    justify-content: space-between; 
}

footer li { 
    list-style: none; 
}

footer a { 
    color: #f31616; 
}

footer a:hover { 
    background: #f31616; 
    color: #050505; 
}

 /* * * * * * * * * * * * * * * * * * * * * * *
 MAIN PAGE
 * * * * * * * * * * * * * * * * * * * * * * */

main { 
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
        url("../assets/denys-nevozhai-351730-unsplash.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

main .container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    
    height: 100%;
}

main h1, main h2, main p { 
    background: #050505dc; 
    padding: 0 10px;
}

 main h1, main h2 { 
     font-family: 'VT323', monospace; 
 }

 main p { 
     text-align: justify; 
     font-family: 'Share Tech Mono', monospace; 
 }

 main button { 
     background: #f31616; 
     color: #050505; 
     border: none; 
     font-family: 'Share Tech Mono', monospace; 
     font-size: 2em; 
     text-align: center;
     text-transform: uppercase; 
     font-weight: bold; 
 }