//  Color Pallette 
$background-color   : #4c65ff; 
$primary-color      : #f14f80; 
$secondary-color    : #FFF44C; 


// Background and Foreground 
$accent-color   : #FFF44C; 
$solid-black    : #1b1212;
$white          : #fff; 
$hero-text-bg   : unquote('#050505dc'); 


// Fixed Heights and Widths 
$mobile-menu-width: 300px; 
$header-height: 80px; 
$hero-height: 600px; 
$padding-margin-base: $header-height / 2; 
$card-width: 300px; 

// Animation Constants 
$menu-transition-time: 0.2s; 
$tween-time: 0.2s; 


// Font Families 
$paragraph-font: 'Shared Tech Mono', monospace; 
$header-font: 'VT323', monospace; 


// Bootstrap Screen Width Measurements 
$small-devices         : 576px; 
$medium-devices        : 768px; 
$large-devices         : 992px; 
$extra-large-devices   : 1200px; 

// Other Widths