.mobile-menu {
  background-color: #FFF44C;
  width: 300px;
  height: 100vh;
  padding: 40px 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shared Tech Mono", monospace;
  transition: 0.2s; }
  .mobile-menu ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mobile-menu li {
    list-style: none;
    width: 100%; }
  .mobile-menu a {
    display: block;
    text-align: center;
    font-size: 1.4em;
    color: #4c65ff;
    width: 100%; }
    .mobile-menu a:hover {
      background-color: #4c65ff;
      color: #FFF44C;
      text-decoration: none; }

.closed {
  transform: translate(300px, 0px); }

.close-button, .open-button, .hero-button {
  font-family: "Shared Tech Mono", monospace;
  border: none; }

.close-button {
  background: #4c65ff;
  color: #FFF44C;
  border: none;
  font-size: 1.4em;
  padding: 5px 20px;
  margin-bottom: 20px; }
  .close-button:focus {
    outline: 4px solid #FFF44C; }

.open-button {
  background-color: #4c65ff;
  color: #f14f80;
  display: none; }
  @media (max-width: 768px) {
    .open-button {
      display: block; } }

.hero-button {
  background-color: #f14f80;
  color: #FFF44C;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  transition: 0.2s; }
  .hero-button:hover {
    background-color: #FFF44C;
    color: #f14f80; }
  @media (max-width: 576px) {
    .hero-button {
      margin-top: 40px;
      font-size: 1.8em; } }

header {
  height: 80px;
  font-family: "Shared Tech Mono", monospace;
  background-color: #4c65ff;
  color: #f14f80;
  position: relative;
  z-index: 300; }
  header .container {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    height: 100%; }
  header a {
    color: #f14f80;
    display: flex;
    align-items: center;
    height: 100%;
    /* TODO: We need to figure out a good way to indicate hovering in the header*/ }
    header a:hover {
      color: #FFF44C;
      text-decoration: none;
      position: relative; }

.company {
  display: flex;
  align-items: center;
  flex: 3;
  height: 100%; }
  .company i {
    margin-right: 10px; }

nav {
  height: 100%; }
  nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    display: flex;
    align-items: center;
    flex: 1;
    width: 150px;
    height: 100%; }
    nav li a {
      width: 100%;
      justify-content: center; }
      nav li a:hover {
        color: #4c65ff;
        background-color: #FFF44C; }
  @media (max-width: 768px) {
    nav {
      display: none; } }
  @media (max-width: 992px) {
    nav li {
      width: 100px; } }

.hero {
  min-height: 600px;
  color: #f14f80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/denys-nevozhai-351730-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 10px; }
  .hero .container {
    display: flex;
    justify-content: center;
    height: 600px; }
  .hero h1, .hero h2, .hero p {
    background: #050505dc;
    padding: 0 10px; }
  .hero h1, .hero h2 {
    font-family: "VT323", monospace; }

/* * * * * * * * * * * * * * * * * * * * * * *
 FOOTER
 * * * * * * * * * * * * * * * * * * * * * * */
footer {
  height: 150px;
  padding-top: 20px; }

footer h2 {
  text-align: center;
  font-family: 'Share Tech Mono', cursive; }

footer hr {
  border-color: #FFF44C;
  border-width: 3px; }

footer .container {
  height: 100%; }

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-between; }

footer li {
  list-style: none; }

footer a {
  color: #FFF44C; }

footer a:hover {
  color: #FFF44C; }

.index-hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; }
  .index-hero .fake-book {
    width: 200px;
    background-color: #f14f80;
    height: 300px;
    margin-right: auto;
    border-radius: 10px; }
  @media (max-width: 992px) {
    .index-hero {
      width: 100%; } }
  @media (max-width: 576px) {
    .index-hero {
      flex-direction: column; }
      .index-hero .fake-book {
        margin-right: 0;
        margin-bottom: 40px; }
      .index-hero .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .index-hero .hero-text h1, .index-hero .hero-text h2 {
          text-align: center; } }

/* * * * * * * * * * * * * * * * * * * * * * 
Hero Section Styles
* * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * 
Main Section Styles
* * * * * * * * * * * * * * * * * * * * * */
