 /* * * * * * * * * * * * * * * * * * * * * * *
  GENERAL
  * * * * * * * * * * * * * * * * * * * * * * */

body { 
    background-color: $background-color; 
    color: $secondary-color;
    overflow-x: hidden; 
}   

a:focus { 
    outline: 2px solid $secondary-color;
    text-decoration: none; 
}

button:focus { 
    outline: 4px solid $background-color; 
}