.index-hero { 
    height: 100%;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 75%; 
    
    @media (max-width: $large-devices) {       
        width: 100%; 
    }
}
