.hero { 
    min-height: 800px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
        url("../assets/denys-nevozhai-351730-unsplash.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 

    padding: 30px 10px; 
}

main .container {    
    display: flex; 
    justify-content: center; 
    height: 100%;
}

.main-content { 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 75%; 
}

main h1, main h2, main p { 
    background: #050505dc; 
    padding: 0 10px;
}

main h1, main h2 { 
    font-family: 'VT323', monospace; 
}

main p { 
    text-align: justify; 
    font-family: 'Share Tech Mono', monospace; 
    font-size: 1.3em; 
}

main button { 
    background: $secondary-color;
    color: $background-color; 
    border: none; 
    font-family: 'Share Tech Mono', monospace; 
    font-size: 2em; 
    text-align: center;
    text-transform: uppercase; 
    font-weight: bold; 
}

main button:hover {
    background-color: $accent-color;
}

@media (max-width: 992px) { 
    .main-content { 
        width: 100%; 
    }
}