.close-button { 
    background: $background-color; 
    color: $secondary-color; 
    border: none; 

    font-family: $paragraph-font; 
    font-size: 1.4em;

    padding: 5px 20px; 

    margin-bottom: 20px; 
    
    &:focus { 
        outline: 4px solid $accent-color;
    }
}


.open-button { 
    color: $primary-color;
    background-color: $background-color; 
    border: $solid-black; 
    display: none; 

    @media (max-width: $medium-devices) { 
        display: block; 
    }
}


.hero-button { 
    background-color: $primary-color;
    color: $secondary-color; 
    
    border: none; 
    font-family: 'Share Tech Mono', monospace; 
    font-size: 2em; 
    text-align: center;
    text-transform: uppercase; 
    font-weight: bold; 

    &:hover {
        background-color: $secondary-color;
        color: $primary-color; 
    }
}