// --------------------------------------
// Card Containers
// --------------------------------------

%card-container-base { 
    
    width: 100%;

    display: flex; 
    flex-wrap: wrap;

    flex-direction: row; 
    justify-content: space-between; 
}

.card-container { 
    @extend %card-container-base; 

    @media (max-width: $medium-devices) {
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
    }
}

.footer-card-container { 
    @extend %card-container-base; 

    @media (max-width: $medium-devices) {
        align-items: stretch; 
    }

    @media(max-width: $small-devices) { 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
    }
}


// --------------------------------------
// Cards 
// --------------------------------------

.blog-card { 
    background-color: gray; 
    width: $lg-card-width; 
    border-radius: 15px; 
    
    font-family: $paragraph-font; 

    h3 { 
        font-weight: bold; 
    }

    img {
        width: 100%; 
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px;
    }

    margin-bottom: $padding-margin-base; 

    @media (max-width: $medium-devices) { 
        width: $md-card-width; 
    }

    @media (max-width: $small-devices) { 
        width: $sm-card-width; 
    }
}

.footer-card { 
    color: $secondary-color;

    width: $footer-card-lg; 

    h2 { 
        font-family: $paragraph-font; 
        font-size: $footer-header-size; 
    }
    
    hr { 
        border-color: $secondary-color;
        border-width: 3px; 
    }
    
    ul { 
        padding: 0; 
        display: flex; 
        flex-direction: column; 
    }
    
    li { 
        display: block; 
        list-style: none; 
    }
    

    a { 
        font-size: $footer-body-size; 
        color: $secondary-color; 

        &:hover { 
            color: $accent-color;
            text-decoration: none; 
        }
    }

    @media (max-width: $medium-devices) {
        width: $footer-card-md; 
        margin-bottom: $padding-margin-base; 
    }


    @media (max-width: $small-devices) {
        width: $footer-card-sm; 
    }
}

.social-card { 
    @extend .footer-card; 

    ul { 
        flex-direction: row; 
        justify-content: space-between; 
    }
}


// ----------------------------------------------------
// Book Cards 
// ----------------------------------------------------

.book-card { 
    display: flex; 
    height: 400px;
    position: relative;
    
    h3 { 
        font-family: 'Share Tech Mono', monospace; 
        font-weight: bold;
    }
    
    p { 
        font-family: 'Share Tech Mono', monospace; 
        font-size: 1.2em;
    }
    
    @media (max-width: $medium-devices) { 
        
        height: 300px;
        margin-bottom: 40px; 
        
        &:nth-child(even) { 
            flex-direction: row-reverse; 
            margin-left: auto; 
        }
    }
    
    @media (min-width: ($medium-devices + 1)) {
        &:hover .book-cover { 
            transform: translate(0, -40px); 
        }
        
        &:nth-child(even) { 
            justify-content: flex-end;    
            
            .book-cover{ 
                left: 0;
            }
            
            .book-description { 
                text-align: right; 
            }
        }

        &:nth-child(odd) { 
            justify-content: flex-start; 
                
            .book-cover { 
                right: 0; 
            }
               
            .book-description { 
                text-align: left; 
            }
        }
    }
}
    
.book-cover { 
    height: 300px;
    width: 200px;
    position: absolute; 
    bottom: 0; 
    transition: 0.2s; 
    transform: translate(0px, 0px); 
    
    img {
        height: 300px; 
    }
    
    @media (max-width: $medium-devices) { 
        position: static; 
    }
}

.book-description { 
    width: 75%; 
    min-height: 225px;
    margin-top: auto; 
    border: 2px dashed #f31616;
    
    padding: 20px; 
    
    @media (max-width: $medium-devices) { 
        width: auto; 
        height: 100%;
    }
       
    @media (max-width: $large-devices) {
        width: 60%; 
    }
}