header { 
    height: $header-height;
    font-family: $paragraph-font; 
    
    background-color: $background-color; 
    color: $primary-color; 

    position: relative; 
    z-index: 300; 
    
    .container { 
        display: flex; 
        align-items: center;
        
        font-size: 1.4em; 
        height: 100%;
    }

    a { 
        color: $primary-color; 
        display: flex; 
        align-items: center;
        height: 100%;
        
        /* TODO: We need to figure out a good way to indicate hovering in the header*/
        &:hover { 
            color: $secondary-color;
            text-decoration: none; 
            position: relative; 
        }
    }
}

.company { 
    display: flex; 
    align-items: center; 
    flex: 3; 
    
    height: 100%;
    
    i {
        margin-right: 10px; 
    }
}





nav { 
    height: 100%;
}

nav ul { 
    display: flex; 
    align-items: center; 

    height: 100%;

    list-style: none; 
    margin: 0; 
    padding: 0; 
}

nav li { 
    display: flex;
    align-items: center; 
    flex: 1; 
    width: 150px; 

    height: 100%;    
}

nav li a { 
    width: 100%; 
    justify-content: center; 
}

nav li a:hover { 
    color: $background-color; 
    background-color: $secondary-color;
}

.open-button { 
    color: $secondary-color;
    background-color: $background-color; 
    border: $solid-black; 
    display: none; 
}

@media (max-width: 768px) { 
    .open-button { 
        display: block; 
    }

    .desktop-nav { 
        display: none; 
    }
}

@media (max-width: 992px) { 
    header li { 
        width: 100px; 
    }
}
