main {
    padding: $padding-margin-base 0; 
   
    .container { 
        @include flex-column(); 
    }

    h2 {
        font-family: $header-font; 
        font-size: $large-font; 
        font-weight: bold; 
        
        margin-bottom: $padding-margin-base; 
    }
}